body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

/*Style cho box form trái formlogin*/
.products { 
    padding: 20px 0;    
    text-align: center;
    }
     
    .products div {   
    padding: 10px;  
    border: 1px solid transparent;  
    border-radius: 4px; 
    transition: 0.2s;
    }
     
    .products div { 
    margin-top: -10px;  
    border: 1px solid rgb(200, 200, 200);   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px; 
    background: rgba(200, 200, 200, 0.1);   
    transition: 0.5s;
    }
     
    .dl-horizontal dt { 
    float: left;    
    width: 120px;   
    overflow: hidden;   
    clear: left;    
    text-align: right;  
    text-overflow: ellipsis;    
    white-space: nowrap;
    }
    .dl-horizontal dd { 
    margin-left: 140px; 
    text-align:left;
    }
